#APP {
    position: fixed;
    right: 0;
    top: 0;
    background: repeating-linear-gradient(#8E44AD,deepskyblue);
    display: inline-block;
    min-width: 200px;
    width: 20%;
    height: 100%;
    
}
#APP h1 {
    color: white;
    padding-left: 15px;
    font-weight: 500;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
    background: rgba(255, 255, 255, 0.25);
}
#APP #pos,#APP #size {
    background: rgba(255, 255, 255, 0.5);
    padding-bottom: 30px;
    margin-top: 30px;
}
#APP #pos h2,#APP #size h2 {
    background: rgba(255, 255, 255, 0.25);
    color:white;
    font-weight: lighter;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#APP div label {
    margin-left: 10px;
}
#APP div input {
    border: none;
    padding-left: 3px;
    margin-left: 10px;
    display: block;
}
#APP div input::-webkit-inner-spin-button {
    opacity: 0.5;
    padding: 2px;

}